body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #333;
    overflow-x: hidden;
}

.navbar {
    background: #3498db;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: #333;
}

h1 {
    color: #3498db;
    text-align: center;
}
h2 {
    color: #3498db;
    text-align: center;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}

table, th, td {
    border: 1px solid #3498db;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #3498db;
    color: white;
}

p {
    color: #333;
    text-align: center;
}

/* Color even rows */
table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Color odd rows */
table tr:nth-child(odd) {
    background-color: #fff;
}

/* Hover effect on table rows */
table tr:hover {
    background-color: #f0d6a5;
}

/* Style for active link */
.navbar a.active {
    background-color: #ddd;
    color: #333;
}

/* CSS for form styling */
.form-container {      /* form */
    max-width: 400px;
    margin: 20px auto; /* Center the form horizontally */
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-heading {         /*h2*/
    text-align: center;
    color: #3498db;
    margin-bottom: 20px;
}

.form-group {    /* div */
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background-color: #3498db;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #2980b9;
}

.btn-secondary {
     background-color: #ccc;
}
